#lasvegas {
  display: none;
}

#disneyland {
  display: none;

}

#hawaii {
  display: none;
}

#house {
  display: none;
}

h1 {
  color: teal;
  text-align: center;
  font-style: oblique;
}

h4 {
  color: red;
  font-weight: bold;
}

h5 {
  color: green;
  font-weight: bolder;
}

h3 {
  color: green;
  font-weight: 300;
}

p {
  color: green;
  font-size: 30px;
  font-style: oblique;
}
